* {
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent; 
}

#Map-zone {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}
#back-zone::-webkit-scrollbar {
    width: 0px;
}

#back-zone {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: calc(2732 / 2045 * 100vh);
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
}

#svgOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map {
    max-width: none;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img{
    pointer-events: none;
}
.area-fill {
    fill: rgba(255, 0, 0); /* 기본 색상 */
    opacity: 0.5;
    color: none;
    transition: opacity 0.3s;
    cursor: pointer;
}
