#scroll-container{
    display: flex;
    justify-content: center;
    opacity: 0.8;
    width: 40px;
}
#scroll-cursor{
    position: absolute;
    margin-left: -5px;
    width: 40px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    transition: margin-top 0.3s;
}

#scroll-bar{
    position: absolute;
    width: 30px;
    height: 60vh;
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
}